extends ../../layout/main

block variables
  - var title = 'UI kit links'
block content
  h1 link to ui kid
  ul
    li
      a(href="Cards.html")
        | Cards
    li
      a(href="ColorsTypes.html")
        | Color & Types
    li
      a(href="FormElement.html")
        | Form Element
    li
      a(href="HederFooter.html")
        | Heder & Footer