doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head
    body This is working
    script(src="../../index.js")