@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat.svg');
  src: url('./fonts/Montserrat.ttf') format('truetype');
  src: url('./fonts/Montserrat.woff') format('woff');
}
@font-face {
  font-family: Quicksand;
  src: url('./fonts/Quicksand.svg');
  src: url('./fonts/Quicksand.ttf') format('truetype');
  src: url('./fonts/Quicksand.woff') format('woff');
}
